@import "tailwindcss";

@font-face {
    font-family: 'Chonburi';
    src: url('./fonts/Chonburi.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'CENTAUR';
    src: url('./fonts/CENTAUR.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Adamina-Regular';
    src: url('./fonts/Adamina-Regular.ttf');
    font-style: normal;
}